:root {
  --basic-title: 'Roboto', sans-serif;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --main-color: #212121;
  --secondary-color: #757575;
  --light-color: #ffffff;
  --background-color-comand: #f5f4fa;
  --background-color-hero: #c4c4c4;
  --social-icon-color: #afb1bb;
  --foter-color: #2f303a;
}

.visually-hidden {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

body {
  font-family: var(--basic-title);
  color: var(--main-color);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

address {
  font-style: normal;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-section {
  padding-top: 0;
}

.footer {
  display: block;
  background-color: var(--foter-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  align-items: baseline;
  display: flex;
}

.list-f {
  list-style: none;
}

@media screen and (min-width: 480px) {
  .container {
    width: 452px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
    background-color: transparent;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    background-color: orange;
  }
}

.contacts {
  display: none;
}

.header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--light-color);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu__container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  line-height: 0;
}

.mobile-menu-btn__icon {
  fill: var(--logo-color);
  top: 10px;
  right: 15px;
}

.mobile-menu-btn__icon:hover, .mobile-menu-btn__icon:focus {
  fill: var(--accent-color);
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
  border: none;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  line-height: 0;
}

.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
  fill: var(--accent-color);
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: var(--light-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opasity, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__list {
  list-style: none;
  display: flex;
}

.mobile-menu__navigation {
  display: block;
}

.mobile-menu__nav {
  display: flex;
  justify-content: start;
  padding-bottom: 32px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.mobile-menu__nav:hover, .mobile-menu__nav:focus {
  color: var(--accent-color);
}

.mobile-menu__nav {
  font-family: Roboto;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.mobile-menu__contacts {
  display: block;
  padding-top: 302px;
}

.mobile-menu__tel {
  font-family: Roboto;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  cursor: pointer;
}

.mobile-menu__mail {
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  cursor: pointer;
}

.mobile-contact:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__social {
  padding-top: 64px;
}

.mobile-menu__link {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-menu__soc:not(:last-child) {
  padding-right: 20px;
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: block;
  }
  .contacts {
    display: block;
  }
  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}

.logo__web {
  color: var(--accent-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.logo-f {
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  margin-bottom: 20px;
}

.logo-s {
  color: var(--light-color);
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/mobile-images/hero-mobile-img.jpg");
  background-size: auto;
  background-color: var(--background-color-hero);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero__main-title {
  font-family: var(--basic-title);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero__btn {
  font-family: var(--basic-title);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--light-color);
  background-color: var(--accent-color);
  cursor: pointer;
  min-width: 200px;
  padding: 10px 32px;
  border-width: 0;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.btn-p {
  font-family: var(--basic-title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: #f5f4fa;
  cursor: pointer;
  min-height: 38px;
  padding: 6px 22px;
  border-width: 0;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-p:hover, .btn-p:focus {
  background-color: var(--accent-color);
  color: var(--light-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.secondary-title {
  font-family: var(--basic-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}

.advantages {
  font-family: var(--basic-title);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  display: block;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

.advantage-text {
  font-family: var(--basic-title);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: none;
  color: var(--secondary-color);
  height: 50px;
  width: 100%;
}

.advantage-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-color: var(--background-color-comand);
}

.mobile-advantage:not(:first-child) {
  margin-top: 30px;
}

.advantages-list {
  list-style: none;
}

.advantages-list:not(:last-child) {
  margin-top: 94px;
  margin-left: 30px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.work-section {
  display: none;
}

.icon-advantages {
  display: block;
  align-items: center;
  justify-content: center;
}

.clients__icon-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon-link:hover, .clients__icon-link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.clients__icon-link:hover .client-icon,
.clients__icon-link:focus .client-icon {
  fill: var(--accent-color);
}

.soc-icons-f:not(:last-child) {
  margin-right: 10px;
}

.images {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.images > .title-label {
  position: absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-family: var(--basic-title);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}

.images {
  justify-content: center;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.command {
  background-color: var(--background-color-comand);
}

.desktop-team,
.we-do {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.desktop-master {
  display: none;
}

.our-team__image {
  margin-top: 30px;
  background-color: var(--light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.workers__worker-title {
  font-family: var(--basic-title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
}

.workers__worker-position {
  font-family: var(--basic-title);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.workers {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--light-color);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon,
.client-icon {
  fill: var(--social-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons {
  justify-content: center;
  margin-top: 16px;
}

.soc-icons-list:not(:last-child) {
  margin-right: 10px;
}

.mobile-title {
  font-family: var(--basic-title);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 30px;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 30px;
  margin-bottom: 60px;
}

.clients__icon-list {
  width: 210px;
  height: 92px;
}

.invitation-icons {
  margin-top: 20px;
}

.invitation-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.invitation-list-link:hover, .invitation-list-link:focus {
  background-color: var(--accent-color);
}

.invitation-list-icon {
  fill: var(--light-color);
}

.footer-invitation {
  font-family: var(--basic-title);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
  margin-bottom: 20px;
}

.invitation {
  margin-left: 70px;
}

.main-work-link {
  position: relative;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-work-link:hover, .main-work-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.main-work-link:hover .overlay,
.main-work-link:focus .overlay {
  transform: translateY(0%);
}

.list-p {
  list-style: none;
}

.list-p:not(:last-child) {
  margin-right: 8px;
}

.button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.work-images {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.main-work {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.work-variants {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.work-list {
  font-family: var(--basic-title);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.work-type {
  font-family: var(--basic-title);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.work-image {
  position: relative;
  overflow: hidden;
}

.overlay {
  font-family: var(--basic-title);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--light-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(33, 150, 243, 0.9);
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--light-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
}

.contact-form-field {
  display: block;
  margin-bottom: 10px;
}

.contact-form-comment {
  display: block;
  margin-bottom: 20px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:hover, .contact-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-input:hover + .icon-modal,
.contact-form-input:focus + .icon-modal {
  fill: var(--accent-color);
}

.modal-icon-name {
  position: relative;
  display: block;
}

.form-names {
  font-family: var(--basic-title);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1, 16;
  color: var(--secondary-color);
}

.form-title {
  margin-bottom: 12px;
  font-family: var(--basic-title);
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 1.15;
  color: var(--main-color);
}

.contact-form-comment {
  margin-bottom: 20px;
}

.contact-form-message {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: var(--basic-title);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1, 14;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:hover, .contact-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-message::placeholder {
  font-family: var(--basic-title);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1, 14;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--basic-title);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

.contact-form-checkbox-label::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid var(--logo-color);
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  content: '';
  cursor: pointer;
  margin-right: 8px;
}

.contact-form-checkbox:focus + .contact-form-checkbox-label::before {
  border-color: var(--accent-color);
  outline: 1px solid var(--accent-color);
}

.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/vector.svg");
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  box-shadow: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-submit-btn {
  font-family: var(--basic-title);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  line-height: 1.87;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
  background-color: var(--accent-color);
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border-width: 0;
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-submit-btn:hover, .contact-form-submit-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*# sourceMappingURL=main.css.map */