:root {
  --basic-title: 'Roboto', sans-serif;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --main-color: #212121;
  --secondary-color: #757575;
  --light-color: #ffffff;
  --background-color-comand: #f5f4fa;
  --background-color-hero: #c4c4c4;
  --social-icon-color: #afb1bb;
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.image {
  background-color: var(--light-color);
}

.link {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: var(--basic-title);
  color: var(--main-color);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ============= Шапка =========== */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #eeeeee;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo-web {
  color: var(--accent-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--logo-color);

  margin-right: 93px;
}

.logo-f {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-contacts {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  position: relative;
}

.nav-contacts.current::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 4px;
  border-radius: 2px;
  bottom: -32px;
  left: 0;
  display: block;
  background-color: var(--accent-color);
}

.nav-list,
.nav-list-tel,
.nav-list-mail {
  list-style: none;
  font-family: var(--basic-title);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
}

.nav-title {
  display: flex;
  margin-left: auto;
}

.nav-list-tel:hover,
.nav-list-tel:focus,
.nav-contacts:hover,
.nav-contacts:focus,
.nav-list-f:hover,
.nav-list-f:focus,
.adress:hover,
.address:focus,
.nav-list-mail:hover,
.nav-list-mail:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.icon-post,
.icon-phone:not(:last-child) {
  display: flex;
  margin-right: 50px;
  fill: var(--secondary-color);
}

.icon-mail,
.icon-tel {
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../images/background-hero.jpg');
  background-size: cover;
  background-color: var(--background-color-hero);
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-title {
  font-family: var(--basic-title);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);

  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.btn {
  font-family: var(--basic-title);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-color);
  background-color: var(--accent-color);
  cursor: pointer;

  min-width: 200px;
  padding: 10px 32px;
  border-width: 0;
  border-radius: 4px;

  margin-left: auto;
  margin-right: auto;
}

/* Наши преимущества */

.advantages {
  font-family: var(--basic-title);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);

  margin-bottom: 10px;
  margin-top: 30px;
}

.icon-advantages {
  display: flex;
}

.advantage-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--background-color-comand);
}

.advantages-list:not(:last-child) {
  margin-top: 94px;
  margin-left: 30px;
}

.advantage-text {
  font-family: var(--basic-title);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: none;
  color: var(--secondary-color);

  height: 75px;
  width: 270px;
}

/* Чем мы занимаемся и наша команда */

.work-section {
  padding-top: 0;
}

.secondary-title {
  font-family: var(--basic-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}

.images {
  display: flex;
  justify-content: center;
  align-items:flex-end;
  position: relative;
}

.images > .title-label {
  position:absolute;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-family: var(--basic-title);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:var(--light-color);
}

/* === Наша команда === */

.command {
  background-color: var(--background-color-comand);
}

.our-team,
.we-do {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.images {
  justify-content: center;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.image {
  justify-content: center;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
  background-color: var(--light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.worker-title {
  font-family: var(--basic-title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);

  margin-bottom: 10px;
}

.worker-position {
  font-family: var(--basic-title);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.worker-names {
  padding-top: 30px;
  padding-bottom: 30px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-icon,
.client-icon {
  fill: var(--social-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--light-color);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-icons {
  justify-content: center;
  margin-top: 16px;
}

.soc-icons-list:not(:last-child) {
  margin-right: 10px;
}

/* ====== Наши клиенты ====== */

.client-icon-list {
  width: 170px;
  height: 92px;
 }

.clients-icon-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-icon-link:hover,
.clients-icon-link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.clients-icon-link:hover .client-icon,
.clients-icon-link:focus .client-icon {
  fill: var(--accent-color);
}

/* Футер */

.footer-container {
  align-items: baseline;
  display: flex;
}

.logo-s {
  color: var(--light-color);
}

.footer {
  display: block;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-f {
  display: flex;
  margin-bottom: 20px;
}

.list-f {
  list-style: none;
}

.adress {
  font-family: var(--basic-title);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-color);
}

.nav-list-f {
  font-family: var(--basic-title);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav {
  margin-top: 9px;
}

.footer-invitation {
  font-family: var(--basic-title);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--light-color);
}

.invitation {
  margin-left: 70px;
}

/* Іконки соцюмереж в футері */

.invitation-icons {
  margin-top: 20px;
}

.invitation-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.invitation-list-icon {
  fill: var(--light-color);
}

.invitation-list-link,
.invitation-list-link {
  background-color: rgba(255, 255, 255, 10%);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.invitation-list-link:hover,
.invitation-list-link:focus {
  background-color: var(--accent-color);
}

.soc-icons-f:not(:last-child) {
  margin-right: 10px;
}

/* =========== ПОРТФОЛИО ========== */

/* Скрытый заголовок Н1 */

.visually-hidden {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Кнопки сортировки работ */

.btn-p {
  font-family: var(--basic-title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: #f5f4fa;
  cursor: pointer;
  min-height: 38px;
  padding: 6px 22px;
  border-width: 0;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-p:hover,
.btn-p:focus {
  background-color: var(--accent-color);
  color: var(--light-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-work-link {
  position: relative;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-work-link:hover,
.main-work-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Подписи под работами */

.list-p {
  list-style: none;
}

.list-p:not(:last-child) {
  margin-right: 8px;
}

.button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.work-images {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
 
}

.main-work {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.work-variants {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.work-list {
  font-family: var(--basic-title);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.work-type {
  font-family: var(--basic-title);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-top: 4px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(33, 150, 243, 0.9);
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 63px 24px;
  font-family: var(--basic-title);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: center;
  color:var(--light-color);   
  transform: translateY(100%); 
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-image {
  position:relative;
  overflow: hidden;
}

.main-work-link:hover .overlay,
.main-work-link:focus .overlay {
  transform: translateY(0%);}


/* === Бекдроп для кнопки ЗАКАЗАТЬ УСЛУГУ === */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
              visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; 
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 521px;
  height: 528px;
  background-color: var(--light-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px; 
  border-radius: 50%;
  background-color: var(--light-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
}  

