.advantages-list:not(:last-child) {
    margin-top: 94px;
    margin-left: 30px;
}

.advantages {
    font-family: var(--basic-title);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);

    margin-bottom: 10px;
    margin-top: 30px;
}

.advantages-background {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 270px;
        height: 120px;
        background-color: var(--background-color-comand);
    }
