.btn {
    font-family: var(--basic-title);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--light-color);
    background-color: var(--accent-color);
    cursor: pointer;

    min-width: 200px;
    padding: 10px 32px;
    border-width: 0;
    border-radius: 4px;

    margin-left: auto;
    margin-right: auto;
}