.logo__web {
    color: var(--accent-color);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--logo-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    margin-right: 88px;
}

.contacts {
    display: none;
    margin-right: 15px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 60px;
    background-color: var(--light-color);
    border-bottom: 1px solid #ECECEC;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu__container{
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;

}

.mobile-menu-btn{
    background-color: transparent;
    border: none;
    // padding: 0;
    line-height: 0;
}

.mobile-menu-btn__icon{
    fill: var(--logo-color);
    top: 10px;
    right: 15px;

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-color);
    border: none;
    box-sizing: border-box;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    line-height: 0;

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: var(--light-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opasity, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

// ===== навігація між сторінками

.mobile-menu__list {
    list-style: none;
    display: flex;
}

.mobile-menu__navigation {
    display: block;
}

.mobile-menu__nav {
    display: flex;
    justify-content: start;
    padding-bottom: 32px;
    @include fonts (Roboto, 500, 40px, 1.17);
    letter-spacing: 0.02em;
    color: var(--main-color);

    &:hover, 
    &:focus {
        color: var(--accent-color);
    }
}

.mobile-menu__nav {
    @include fonts (Roboto, 500, 40px, 1.17);
    text-align: center;
    letter-spacing: 0.02em;
    cursor: pointer;
}

// ====== телефон і пошта 

.mobile-menu__contacts {
    display: block;
    padding-top: 302px;
}

.mobile-menu__tel{
    @include fonts (Roboto, 500, 34px, 1.17);
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    cursor: pointer;
 
}

.mobile-menu__mail {
    @include fonts (Roboto, 500, 24px, 1.16);
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    cursor: pointer;
}

.mobile-contact:not(:last-child){
    margin-bottom: 32px;
}

// ===== посилання на соц.мережі

.mobile-menu__social {
    padding-top: 64px;
}

.mobile-menu__link{
    text-decoration: none;
    @include fonts (Roboto, 500, 18px, 1.22);
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.mobile-menu__soc{
    &:not(:last-child) {
        padding-right: 20px;
    }
}

@media screen and (max-width:767px) {
    .nav-list {
        display: none;
    }
}

@media screen and (min-width: 768px){
    .logo {
        font-size: 26px;
        line-height: 1.2;
    }

    .header {
        padding-top: 0;
        padding-bottom: 0;
        height: 80px;
    }

    .nav-list {
        display: block;
        list-style: none;
    }
    
    .contacts {
        display: block;
    }
     
    .mobile-menu-btn{
        display: none;
    }

    .mobile-menu{
        display: none;
    }

.icon-tel:hover,
.icon-tel:focus,
.contacts__tel:hover,
.contacts__tel:focus,
.nav-list__link:hover,
.nav-list__link:focus,
.nav-list-f:hover,
.nav-list-f:focus,
.adress:hover,
.address:focus,
.contacts__mail:hover,
.contacts__mail:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}

.nav-list__link {
    @include fonts (Roboto, 500, 14px, 1.14);
    letter-spacing: 0.02em;
    color: var(--main-color);
    position: relative;

    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.nav-list__link--current::after {
        content: "";
        width: 100%;
        position: absolute;
        height: 4px;
        border-radius: 2px;
        bottom: -32px;
        left: 0;
        display: block;
        background-color: var(--accent-color);
    }
}

.header__container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-list__item:not(:last-child) {
    margin-right: 50px;
}

.nav-list,
.contacts,
.contacts__tel,
.contacts__mail {
    list-style: none;
    @include fonts (var(--basic-title), 500, 14px, 1.14);
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
    display: block;
    margin-left: auto;
}

.icon-post,
.icon-phone:not(:last-child) {
    display: flex;
    margin-bottom: 10px;
}

.icon-mail,
.icon-tel {
    fill: var(--secondary-color);
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

}

@media screen and (min-width: 1200px){

    .contacts {
        display: flex;
    }

    .icon-post,
    .icon-phone:not(:last-child) {
    display: flex;
    margin-right: 50px;
    margin-bottom: 0;
}
}
