.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url('../images/background-hero.jpg');
    background-size: cover;
    background-color: var(--background-color-hero);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
}

