.main-work-link {
    position: relative;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);}

    &:hover .overlay,
    &:focus .overlay {
        transform: translateY(0%);}
}

.list-p {
    list-style: none;

    &:not(:last-child) {
        margin-right: 8px;}
}

.button-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.work-images {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.main-work {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
}

.work-variants {
    border: 1px solid #eeeeee;
    padding: 20px 24px;
}

.work-list {
    font-family: var(--basic-title);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color);
}

.work-type {
    font-family: var(--basic-title);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    margin-top: 4px;
}

.work-image {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(33, 150, 243, 0.9);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 63px 24px;
    font-family: var(--basic-title);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--light-color);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

