.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--light-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--light-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 0;
    cursor: pointer;
}

.contact-form-field {
    display: block;
    margin-bottom: 10px;
}

.contact-form-comment {
    display: block;
    margin-bottom: 20px;
}

.contact-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-name {
    position: relative;
    display: block;
}

.contact-form-input:hover,
.contact-form-input:focus {
    outline: none;
    border-color: var(--accent-color);
}

.contact-form-input:hover+.icon-modal,
.contact-form-input:focus+.icon-modal {
    fill: var(--accent-color);
}

.form-names {
    font-family: var(--basic-title);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1, 16;
    color: var(--secondary-color);
}

.form-titile {
    margin-bottom: 12px;
    font-family: var(--basic-title);
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 1.15;
    color: var(--main-color);
}

.contact-form-comment {
    margin-bottom: 20px;
}

.contact-form-message {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    font-family: var(--basic-title);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1, 14;

    padding: 12px 16px;

    resize: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:hover,
.contact-form-message:focus {
    outline: none;
    border-color: var(--accent-color);
}

.contact-form-message::placeholder {
    font-family: var(--basic-title);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1, 14;
    color: rgba(117, 117, 117, 0.5);
}

.contact-form-checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--basic-title);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    margin-bottom: 30px;
}

.contact-form-checkbox:focus+.contact-form-checkbox-label::before {
    border-color: var(--accent-color);
    outline: 1px solid var(--accent-color);
}

.contact-form-checkbox:checked+.contact-form-checkbox-label::before {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../images/vector.svg');
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    box-shadow: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-checkbox-label::before {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 1px solid var(--logo-color);
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    content: '';
    cursor: pointer;
    margin-right: 8px;
}

.icon-modal {
    position: absolute;
    display: block;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-submit-btn {
    font-family: var(--basic-title);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    line-height: 1.87;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--light-color);
    background-color: var(--accent-color);
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    border-width: 0;
    border-radius: 4px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-submit-btn:hover,
.contact-form-submit-btn:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}