.command {
    background-color: var(--background-color-comand);
}

.desktop-team,
.we-do {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    flex: 1 30px 100%;
}

.desktop-master{
    display: none;
}

.our-team__image {
    background-color: var(--light-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.workers__worker-title {
    @include fonts (var(--basic-title), 500, 16px, 1.18);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);

    margin-bottom: 10px;
}

.workers__worker-position {
    @include fonts (var(--basic-title), 400,16px, 1.18);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.workers {
    padding-top: 30px;
    padding-bottom: 30px;
}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .social-list-icon,
    &:focus .social-list-icon {
        fill: var(--light-color);
    }

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.social-list-icon,
.client-icon {
    fill: var(--social-icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.social-icons {
    justify-content: center;
    margin-top: 16px;
}

.soc-icons-list:not(:last-child) {
    margin-right: 10px;
}

.mobile-title {
    @include fonts (var(--basic-title), 700, 28px, 1.17);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .our-team__image {
        flex-basis: calc((100% / 2) - 30px);
    }
}

@media screen and (min-width: 1200px) {
    .our-team__image {
        flex-basis: calc((100% / 4) - 30px);
    }
}