.main-title {
    @include fonts (var(--basic-title), 900, 44px, 1.36);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-color);

    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.advantage-text {
    @include fonts (var(--basic-title), 400, 14px, 1.71);
    letter-spacing: 0.03em;
    text-transform: none;
    color: var(--secondary-color);

    height: 75px;
    width: 270px;
}

.secondary-title {
    @include fonts (var(--basic-title), 700, 36px, 1.16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 50px;
}