.list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.our-team__image {
    background-color: var(--light-color);
}

.link {
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: var(--basic-title);
    color: var(--main-color);
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

address {
    font-style: normal;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.work-section {
    padding-top: 0;
}

.footer {
    display: block;
    background-color: var(--foter-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
    align-items: baseline;
    display: flex;
}

.list-f {
    list-style: none;
}

