:root {
    --basic-title: 'Roboto', sans-serif;
    --accent-color: #2196f3;
    --logo-color: #000000;
    --main-color: #212121;
    --secondary-color: #757575;
    --light-color: #ffffff;
    --background-color-comand: #f5f4fa;
    --background-color-hero: #c4c4c4;
    --social-icon-color: #afb1bb;
    --foter-color: #2f303a;
}
